// Переменные для цветов скролл ап
$scrollUpColor: red;
$scrollUpBoxShadow:#dcdcdc;
$scrollUpHoverColor: #4183C4;
$scrollUPSvgPathColor: #4183C4;


.logo{
	display: block;
	margin-right: 20px;
	
}


.cardimg{
	width: 240px;
	height: 283px;
	display: block;
	margin: 0 auto;
}

/* Скролл ап */

.scroll-up {
	position: fixed;
	right: 50px;
	bottom: 60px;
	z-index: 99;
	width: 50px;
	height: 50px;
	color: $scrollUpColor;
	cursor: pointer;
	visibility: hidden;
	border-radius: 50px;
	box-shadow: inset 0 0 0 4px $scrollUpBoxShadow;
	opacity: 0;
	transition: .2s;
	transform: translateY(25px);
		&::before{
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			font-size: 20px;
			content: '↑';
		}
		&:hover{
			color: $scrollUpHoverColor;
		}

}


.scroll-up--active {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);

}

.scroll-up__svg-path {
	box-sizing: border-box;
	fill: none;
	stroke: $scrollUPSvgPathColor;
	stroke-width: 4px;
	transition: .2s;
}

.nav-link{
  padding: .5rem .8rem;
}

/* Скролл ап конец */

.copy{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}